<!DOCTYPE html>
<html ng-app="magicMirror">
	<head>
		<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="/app/app.js"></script>
	</head>
	<body>
		<!-- Date/Time Functionality -->
		<div ng-controller="MirrorClock as clock">
			<h2 ng-bind="clock | date:'EEEE'"></h2>
			<h2 ng-bind="clock | date:'MMMM d, y'"></h2>
			<h3 ng-bind="clock | date:'h:mm:ss a'"></h3>
		</div>
		
		<!-- Weather Service Functionality -->
		<div ng-controller="MirrorWeather" ng-init="init()">
			<div class="currentWeather">
				<h3>Now</h3>
				<span ng-bind="forecast.currently.apparentTemperature | temp"></span>
				<span ng-bind="forecast.currently.summary"></span>
				<span ng-if="day.precipProbability > 0"><strong>Precip: </strong><span ng-bind="day.precipProbablilty | percent"></span></span>
			</div>
			<div class="weeklyForecast">
				<div ng-repeat="day in forecast.daily.data">
					<h2 ng-bind="day.time * 1000 | date: 'EEE'"></h2>
					<div><strong>H: </strong><span ng-bind="day.temperatureMax | temp: 0"></span></div>
					<div><strong>L: </strong><span ng-bind="day.temperatureMin | temp: 0"></span></div>
					<div ng-if="day.precipProbability > 0"><strong>Precip: </strong><span ng-bind="day.precipProbablilty | percent"></span></div>
				</div>
			</div>
		</div>
	</body>
</html>